.button {
	font-weight: 600;
	display: inline-block;
	background: $color-flatby-main;
	color: #fff;
	text-decoration: none;
	padding: 1em 2em;
	border: 0px;
	border-radius: $border-radius;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.33);
	text-align: center;
	cursor: pointer;
}

.button {
	border-bottom: 3px solid #00a685;

	&.neutral {
		background: #c0c0c0;
		border-bottom: 3px solid #a6a5a5;
	}

	&.positive {
		background: #00c7a6;
		border-bottom: 3px solid #00a685;
	}

	&.negative {
		background: #cd3543;
		border-bottom: 3px solid #b52836;
	}

	&.alert {
		background: #bac543;
		border-bottom: 3px solid #aaae30;
	}

	&.button-small {

	}

	&.button-large {

	}
}
