	<section class="blurb">
		<img src="./images/photo-main.png" alt="The main blurb photo" class="image-fluid">
		
		<div class="padded-content">
			<h1>Flatby UI</h1>
			<h2>A lorel ipsum subtitle for the main text, lorel ipsum dolor sit amet.</h2>
			<hr>
			<p>Hey kid, what you do, jump ship? They're late. My experiment worked. They're all exactly twenty-five minutes slow. Hey, don't I know you from somewhere? Nothing. Just relax now Calvin, you've got a big bruise on you're head. Just relax now Calvin, you've got a big bruise on you're head.</p>
			<a href="#" class="button">Say it like you mean it</a>
		</div>
	</section>

	<section class="transparent blurb">
		<div class="padded-content">
			<h1>Flat like the earth</h1>
			<h2>for all your free-standing no-background element needs!</h2>
			<a href="#" class="button">flat like a goat’s stare</a>
		</div>
	</section>