	<section>
		<div class="padded-content">
			<a href="#" class="button">Default button</a>

			<a href="#" class="button neutral ">Neutral Button</a>

			<a href="#" class="button positive">Positive Button</a>

			<a href="#" class="button negative">Negative</a>

			<a href="#" class="button alert">Alert</a>
		</div>

		<div class="padded-content">
			<a href="#" class="button button-small">A small button</a>

			<a href="#" class="button button-large">A large button</a>
		</div>
	</section>
