	<section>
		<div class="padded-content">
			<a href="#" class="button">Default button</a>

			<a href="#" class="button neutral ">Neutral Button</a>

			<a href="#" class="button positive">Positive Button</a>
		</div>
	</section>
