
	<header class="main-navigation">
		<nav class="nav-collapse">
			<ul>
				<li>
					<a href="#">Home</a>
				</li>

				<li>
					<a href="#" class="toggle-modal">Fire Modal</a>
				</li>

				<li>
					<a href="#" class="active">Portfolio</a>
				</li>

				<li>
					<a href="#">Profile</a>
				</li>

				<li>
					<a href="#">Contact</a>
				</li>
			</ul>
		</nav>
	</header>

	<header class="main-navigation inverted">
		<nav class="nav-collapse">
			<ul>
				<li>
					<a href="#">Home</a>
				</li>

				<li>
					<a href="#" class="active">Portfolio</a>
				</li>

				<li>
					<a href="#">Profile</a>
				</li>

				<li>
					<a href="#">Contact</a>
				</li>
			</ul>
		</nav>
	</header>

	<section class="padded-content">
		<ul class="breadcrumbs">
			<li>
				You are here:
			</li>
			<li>
				<a href="#">Home</a> /
			</li>
			<li>
				<a href="#">Second Level</a> /
			</li>
			<li>
				<a href="#">Third Level</a> /
			</li>
			<li class="active-page">
				Current Item
			</li>
	</section>
