/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 15, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 19, ../sass/screen.scss */
body {
  color: #2c2c2c;
  background: whitesmoke;
  font-family: "Proxima Nova", Helvetica, Arial;
  line-height: 1.75em;
  font-size: 1em;
  padding-top: 2em; }

/* line 28, ../sass/screen.scss */
a {
  color: #4cbfa4; }

/* line 32, ../sass/screen.scss */
h1 {
  font-size: 2em; }

/* line 36, ../sass/screen.scss */
.image-fluid {
  width: 100%; }

/* line 42, ../sass/screen.scss */
.padded-content {
  padding: 1em; }

/* line 46, ../sass/screen.scss */
section, header {
  margin: 0 auto;
  padding: 1em;
  margin-bottom: 1em;
  max-width: 1180px;
  background: #fff; }
  /* line 53, ../sass/screen.scss */
  section.transparent, header.transparent {
    background: none; }

/* line 59, ../sass/screen.scss */
article h1 {
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 0px; }
/* line 65, ../sass/screen.scss */
article p {
  padding-bottom: 0.5em;
  color: #676767; }

/* line 72, ../sass/screen.scss */
a.active {
  color: #4cbfa4; }

/* line 79, ../sass/screen.scss */
nav ul {
  margin: 0;
  padding: 0; }
  /* line 83, ../sass/screen.scss */
  nav ul li {
    display: inline-block;
    border-right: 1px solid #e7e7e7; }
    /* line 87, ../sass/screen.scss */
    nav ul li a {
      color: #2c2c2c;
      text-decoration: none;
      padding: 0.5em 2em;
      display: inline-block; }

/* line 97, ../sass/screen.scss */
.main-navigation {
  margin-bottom: 1em; }

/* line 101, ../sass/screen.scss */
.button {
  font-weight: 600;
  display: inline-block;
  background: #4cbfa4;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 4px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.33); }

/* line 117, ../sass/screen.scss */
hr {
  border: 0;
  height: 1px;
  background: #eaeaea; }

/* line 125, ../sass/screen.scss */
.no-padding, .main-blurb {
  padding: 0; }

/* line 130, ../sass/screen.scss */
.main-blurb {
  text-align: center;
  margin-bottom: 3em; }
  /* line 135, ../sass/screen.scss */
  .main-blurb h1, .main-blurb h2 {
    line-height: 1em;
    display: block;
    text-transform: uppercase;
    font-weight: 700; }
  /* line 142, ../sass/screen.scss */
  .main-blurb h1 {
    font-size: 4.5em;
    margin-top: 50px;
    margin-bottom: 30px; }
  /* line 148, ../sass/screen.scss */
  .main-blurb h2 {
    opacity: 0.4;
    font-size: 1.1em; }
  /* line 153, ../sass/screen.scss */
  .main-blurb hr {
    margin: 35px 55px; }
  /* line 157, ../sass/screen.scss */
  .main-blurb p {
    padding-left: 10em;
    padding-right: 10em;
    opacity: 0.4; }
  /* line 163, ../sass/screen.scss */
  .main-blurb .button {
    position: relative;
    top: 45px; }

/* line 173, ../sass/screen.scss */
.button {
  display: inline-block;
  border-radius: 4px;
  background: #4cbfa4;
  border-bottom: 4px solid #459c88; }

/* line 184, ../sass/screen.scss */
.clear {
  clear: both; }

/* line 196, ../sass/screen.scss */
.columns {
  *zoom: 1; }
  /* line 38, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .columns:after {
    content: "";
    display: table;
    clear: both; }

/* line 200, ../sass/screen.scss */
.columns-2 {
  width: 50%;
  float: left; }
