---
title: Flatby 2 - Comments
---

	<section class="transparent">
		<div class="comment">
			<div class="avatar">
				<img src="./images/sample-avatar.png" alt="Sample Avatar">
			</div>
			<div class="comment-info">
				<h1><span class="author">Bender B. Rodriguez</span> said...</h1>
				<h2 class="author-meta">Something something web designer</h2>
			</div>

			<div class="comment-content">
				<p>Hey kid, what you do, jump ship? They're late. My experiment worked. They're all exactly twenty-five minutes slow. Hey, don't I know you from somewhere? Nothing. Just relax now Calvin, you've got a big bruise on you're head.</p>
			</div>
		</div>


		<div class="comment comment-replying">
			<div class="avatar">
				<img src="./images/sample-avatar.png" alt="Sample Avatar">
			</div>
			<div class="comment-info">
				<h1><span class="author">Bender B. Rodriguez</span> said...</h1>
				<h2 class="author-meta">Something something web designer</h2>
			</div>

			<div class="comment-content">
				<p>Hey kid, what you do, jump ship? They're late. My experiment worked. They're all exactly twenty-five minutes slow. Hey, don't I know you from somewhere? Nothing. Just relax now Calvin, you've got a big bruise on you're head.</p>
			</div>

			<div class="comment-reply-form">
				<h3>Replying to a comment by Bender B. Rodriguez</h3>
				<form>
					<textarea></textarea>
				</form>
			</div>
		</div>








	</section>