---
title: Flatby 2
---

	<%= partial "./partials/navigation" %>

	<%= partial "./partials/blurbs" %>

	<%= partial "./partials/text-content" %>

	<%= partial "./partials/comments" %>


	<section>
		<img src="./images/photo-main.png" alt="The main blurb photo" class="image-fluid">

		<article class="padded-content">
			<h1 class="featured-header">Something something, paragraphs</h1>

			<h2>Something something, paragraph</h2>
			<p>Hey kid, what you do, jump ship? They're late. My experiment worked. They're all exactly twenty-five minutes slow. Hey, don't I know you from somewhere? Nothing. Just relax now Calvin, you've got a big bruise on you're head. Just relax now Calvin, you've got a big bruise on your head. Hey kid, what you do, jump ship?</p>
		</article>

	</section>