<a href="#" class="im-a-hamburger">
  <span></span>
  <span></span>
  <span></span>
</a>
<div class="panel-side-slider">
  <ul>
    <li>
      <a href="#">Home</a>
    </li>

    <li>
      <a href="#">Option</a>
    </li>

    <li>
      <a href="#">Feature</a>
    </li>

    <li>
      <a href="#">Something Else</a>
    </li>

    <li>
      <a href="#">Contact</a>
    </li>
  </ul>

</div>
